[data-md-color-scheme="cellmobs"] {
--md-primary-fg-color:        #ffffff;
--md-primary-fg-color--light: #192d35;
--md-primary-fg-color--dark:  #0c191e;
--md-primary-bg-color: #9c0d14;
--md-typeset-a-color:  #9c0d14;
}
.md-tabs{
    background-color: #fae8e8;
 }
 .md-search__form:hover{
    background-color: #423f3f;
 }
 /* .mdx-container {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>") no-repeat bottom,linear-gradient(to bottom,var(--md-primary-fg-color),#9c0d14 99%,var(--md-default-bg-color) 99%) !important
} */

.md-typeset h1 {
   color:#333333;
   font-weight: 600;
}

.md-typeset h2 {
   color:#333333;
   font-weight: 600;
}
.md-typeset h3 {
   color:#333333;
   font-weight: 500;
}
.md-typeset code {
   font-size: 0.75em;
}